@use "../../../variables";
@use "../../../mixins";

.header {
  padding: 0 10px;
  width: 100%;
  height: variables.$header-height;
  background-color: variables.$color-primary;
  @include mixins.flex-center($justify: space-between);
}
.receiver {
  @include mixins.flex-center($justify: space-between);
  width: 100%;
  &-name {
    font-size: variables.$font-size-large;
    font-weight: 500;
    color: variables.$color-light;
    flex-grow: 1;
    text-align: center;
  }

  &-photo {
    @include mixins.flex-center();

    &__image {
      @include mixins.border-radius(variables.$border-radius-full);
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
  }
}
