@use '../../../mixins';
@use '../../../variables';

.createChatButton  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007aff;
  color: variables.$color-light;
  border: none;
  @include mixins.border-radius(variables.$border-radius-full);
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  @include mixins.box-shadow(0, 4px, 6px, rgba(variables.$color-dark, 0.1));
  @include mixins.transition(background-color);

  &:hover {
    background-color: #0051a8;
  }

  &Content {
    display: flex;
    @include mixins.flex-center();
  }
}