@use '../../variables';
@use '../../mixins';

#chat-list {
  height: 100%;
}

.chat-list-view {
  background-color: variables.$color-background;
}

.material-symbols-outlined {
  font-size: 18px;
  vertical-align: middle;
}

.plus {
  margin-left: 0;
}

.not-found-message{
  margin-top: 40px;
  @include mixins.flex-center(column);
}


